#header {
    color: dark green;
}
.pokemon-card {
    width: 300px;
    background-color: pink;
}

.pokemon-card-header {
    background-color: rgb(221, 68, 68);
    text-align: center;
}

.pokemon-name {
    text-align: left;
    padding: 10px 0 0 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

.pokemon-image{ 
    width: 200px;
    height: 200px;
}

.pokemon-element {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.pokemon-card-detail {
    padding: 0 10px;
    
}

.pokemon-info {
    display: flex;
    color: black;
    align-items: center;
    height: 40px;
    text-align: left;   
}

.pokemon-info-name { 
    width: 30%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.pokemon-att-value {
    width: 10%;
    text-align: center;
}

.progress-bar { 
    width: 60%;
    text-align: center;
}

.search-container {
    text-align: center;
    margin-top: 50px;
}