#header {
    color: dark green;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemon-card {
    width: 380px;
    background-color: pink;
    border-radius: 5px;
}

.pokemon-card-header {
    background-color: rgb(221, 68, 68);
    text-align: center;

}

.pokemon-name {
    text-align: left;
    padding: 0px 0 0 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

.pokemon-image{ 
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 50%;
}

.pokemon-element {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.pokemon-card-detail {
    padding: 0 10px;
    
}

.pokemon-info {
    display: flex;
    color: black;
    align-items: center;
    height: 40px;
<<<<<<< HEAD
    text-align: left;   
=======
    justify-content: center;
>>>>>>> 4bf3fa91a1216de2a365fefb6d7eb074ed1fc2df
}

.pokemon-info-name { 
    width: 30%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.pokemon-att-value {
    width: 60%;
    text-align: center;
}

.progress-bar { 
    width: 60%;
    text-align: center;
}

.search-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}