#header {
    color: dark green;
}
.pokemon-card {
    width: 300px;
    height: 400px;
    background-color: pink;
    padding: 0 10px;
}
.pokemon-sprite{
  display: flex;
  justify-content: center;
}
.pokemon-image{ 
    width: 150px;
    height: 150px;
}

.pokemon-info {
    display: flex;
    color: black;
}