* {
    padding:0;
    margin:0;
}
body,html {
    background-color: pink;
    padding: 0px;
    margin:0px;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hole {
    width: 150px;
    height: 150px;
    background-color: bisque;
    border: 2px black solid;
}
h1 {
    color: purple;
} 

