* {
    padding:0;
    margin:0;
}
body,html {
    padding: 0px;
    margin:0px;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    background-color: aqua;
    flex-wrap: wrap;
    justify-content: space-between;
}
.score {
    width: 150px;
    background-color: yellow;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
    padding: 40px;
    gap: 15px;
    
}

.hole {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: bisque;
    border: 2px black solid;
}
 
.hole:after {
    display: block;
    /* background: url() bottom center no-repeat; */
    background-size: contain;
    content:'';
    width: 100%;
    height: 70px;
    position: absolute;
    z-index:2;
    bottom: -30px;
}

.mole {
    background: url('./mole.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.hole.up .mole {
    top: 0;
}